*{margin: 0;padding:0;list-style: none;}
html,body{font-size: 100px;}
body{
	background: url("../images/timg.jpg") no-repeat fixed;
	background-size:cover;
}
.header{
	width: 100%;
	height:0.5rem;
	background:rgba(255,255,255,0.5);
	z-index: 100;
	overflow: hidden;
	line-height: 0.5rem;
}
.name{
	font-size: 0.3rem;
	color:#fff;
	z-index: 200;
	float: left;
}
.title{
	float: right;
	overflow: hidden;
	height:0.5rem;
	line-height: 0.5rem;

}
.title li{
	height:0.2rem;
	line-height: 0.2rem;
	font-size: 0.1rem;
	color:#fff;
	float: left;
	background:rgba(0,0,0,0.5);
	margin: 0.2rem 0.4rem;
	padding:0 0.15rem;
}
.kuang{
	width: 4rem;
	height:2rem;
	margin: auto auto;
	border: 0.07rem solid #fff;
}
